<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="ariyainfotech" sortOrder="10" translate="label">
			<label>Ariya InfoTech</label>
		</tab>
		<section id="ariyainfotech_base" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			  <label><![CDATA[Extensions &amp; Notifications]]></label>
			<tab>ariyainfotech</tab>
			<resource>AriyaInfoTech_Base::config</resource>
			<group id="information" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>System Information</label>
                <frontend_model>AriyaInfoTech\Base\Block\Info</frontend_model>
            </group>
		</section>
	</system>
</config>
